mixin icon(name)
    svg(role="img")&attributes(attributes)
        use(xlink:href="#icon-"+name)

mixin input(label, required, text)
    - var handle= label ? `${label.toLowerCase().replace(/ /g,'-')}` : undefined

    label.form-label(for=handle)
        = label
        if required
            span *
    input.form-control(id=handle type="text")&attributes(attributes)
    if text
        .form-text= text

mixin input-inline(label, required, text)
    - var handle= label ? `${label.toLowerCase().replace(/ /g,'-')}` : undefined

    .col-auto
        label.form-label.col-form-label(for=handle)
            = label
            if required
                span *
    .col-auto
        input.form-control(id=handle type="text")&attributes(attributes)
    if text
        .col-auto
            .form-text= text

mixin input-inline-2(label, required, text)
    - var handle= label ? `${label.toLowerCase().replace(/ /g,'-')}` : undefined

    .col-auto
        label.form-label.col-form-label(for=handle)
            = label
            if required
                span *
    .col-lg
        input.form-control(id=handle type="text")&attributes(attributes)
    if text
        .col-auto
            .form-text= text

mixin input-grid(label, required, text)
    - var handle= label ? `${label.toLowerCase().replace(/ /g,'-')}` : undefined
    label.form-label.col-sm-4.col-form-label(for=handle)
        = label
        if required
            span *
    .col-sm-8
        input.form-control(id=handle type="text")&attributes(attributes)
    if text
        .col-auto
            .form-text= text

mixin textarea(label, required)
    - var handle= label ? `${label.toLowerCase().replace(/ /g,'-')}` : undefined

    label.form-label(for=handle)
        = label
        if required
            span *
    textarea.form-control(id=handle)&attributes(attributes)

mixin search-input
    .search-input
        input(type="text" placeholder="Search the documentation...")
        +icon("search")

mixin pagination(text)
    .pagination
        button
            +icon("prev")
            +icon("prev")
        button
            +icon("prev")
        span= text
        button
            +icon("next")
        button
            +icon("next")
            +icon("next")